<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Lugx Gaming Shop HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="template/css/fontawesome.css">
    <link rel="stylesheet" href="template/css/templatemo-lugx-gaming.css">
    <link rel="stylesheet" href="template/css/owl.css">
    <link rel="stylesheet" href="template/css/animate.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<%-include('partials/loader')%>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<%- include('partials/header') %>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Start *****-->
<%-include('partials/main_banner')%>
<!-- ***** Main Banner End *****-->

<!-- ***** Features Start *****-->
<%-include('partials/features')%>
<!-- ***** Features End *****-->


<!-- ***** Most Played Start -->
<%-include('partials/most_played')%>
<!-- ***** Most Played End -->


<!-- ***** Call To Action Start -->
<%-include('partials/call_to_action')%>
<!-- ***** Call To Action End -->

<!-- ***** Footer Start -->
<%-include('partials/footer')%>
<!-- ***** Footer End -->


<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="template/vendor/jquery/jquery.min.js"></script>
<script src="template/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="template/counter.js"></script>
<script src="template/custom.js"></script>
<script src="template/isotope.min.js"></script>
<script src="template/owl-carousel.js"></script>



</body>
</html>